# Build data
/.eggs
/build
/dist
/MANIFEST
*.egg-info
.python-version
*.pyc
*.egg
*.class

# Unit test / coverage reports
.tox/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml
htmlcov/
venv/

# Python binaries
*.pyc
__pycache__

# macOS metadata
.DS_Store

# VS Code metadata
.vscode
