[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coveralls = "*"
eliot-tree = "*"
ipykernel = "*"
pylint = "*"
pytest = ">=4.4"
pytest-cov = ">=2.6"
pytest-subtests = "*"
PyYAML = "*"
tox = "*"
pytest-mock = "*"
requests-mock = "*"

[packages]
blessings = "*"
colorama = "*"
eliot = "*"
python-forge = "*"
PyYAML = "*"
requests = "*"
six = "*"
codepost = {path = ".",editable = true}
typing = "*"

[requires]
python_version = "3.7"
