[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coveralls = "*"
eliot-tree = "*"
ipykernel = "*"
pylint = "*"
pytest = ">=4.4"
pytest-cov = ">=2.6"
pytest-subtests = "*"
PyYAML = "*"
tox = "*"

[packages]
better-exceptions = "*"
blessings = "*"
colorama = "*"
eliot = "*"
python-forge = "*"
PyYAML = "*"
requests = "*"
six = "*"
typeguard = "*"
codepost = {path = ".", editable = true}

[requires]
python_version = "3.7"
