[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=4.4"
pytest-cov = ">=2.6"
coveralls = "*"
tox = "*"
PyYAML = "*"

[packages]
nose = "*"
nose2 = "*"
requests = "*"
PyYAML = "*"
urllib3 = "*"
codePost_api = {path = ".", editable = true}

[requires]
python_version = "3.7"
